<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

	<dict>
		<key>items</key>

	
		<array>
		
			<dict>

				<key>assets</key>


				<array>
	
	
					<dict>
			
						<key>kind</key>
			
						<string>software-package</string>
			
						<key>url</key>
				
						<string>http://sh.ctfs.ftn.qq.com/ftn_handler/bb0673528c4a11f7abfaaa99da349e0408bdb427bcff328f624ab18cfb3c83bfafce1220e438e3014fb4934eb23ded8ca415d5cf1302fe15d038c003caa0f795/?fname=dingdang.ipa&k=236337384c75a5984ceada1345330a4b52530701515559534f57535a021e0c5d50021a00540a0e4954510059050159005b56075e633f38000b0d505c025d5f4a0b1356385e&fr=00&&txf_fid=ef39787a69c87b7b131a10642c2f5aa9750598f3&xffz=56801745</string>
		
					</dict>
	
	
					<dict>
			
						<key>kind</key>
			
						<string>full-size-image</string>
	
						<key>needs-shine</key>
	
						<true/>
			
						<key>url</key>
				
						<string>http://jolihi.3vzhuji.net/dingdang.png</string>
		
					</dict>
	
		
					<dict>
				
						<key>kind</key>
				
						<string>display-image</string>
			
						<key>needs-shine</key>
			
						<true/>
					
						<key>url</key>

						<string>http://jolihi.3vzhuji.net/dingdang.png</string>
		
					</dict>
			
				</array>
			

				<key>metadata</key>
	
		
				<dict>
		
					<key>bundle-identifier</key>

					<string>app.gp.gptest4</string>
	
					<key>bundle-version</key>
	
					<string>6.3.8.17</string>
		
					<key>kind</key>
			
					<string>software</string>
			
					<key>title</key>
			
					<string>叮当猫微信</string>
			
				</dict>
		
			</dict>

		</array>

	</dict>

</plist>
